<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% load static %}

  {% block head %}
  {% endblock head %}

  {% block css %}
    <link rel="stylesheet" href="{% static "website/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "portfolio/css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "portfolio/css/fonts.css" %}"/>
  {% endblock css %}
</head>

<body>
  <div class="container-fluid">
    <div class="row banner-wrapper">
      <a href="{% url 'index' %}">
        <div class="banner col-xs-12 col-md-8 col-md-offset-2">
          <div class="row">
            <div class="website-title col-xs-12">
              Clayton Salinger Ketner
            </div>
          </div>
          <div class="row">
            <div class="website-subtitle col-xs-12">
              {{ subtitle }}
            </div>
          </div>
        </div>
      </a>
    </div>
    {% comment %} External links {% endcomment %}
    <div class="row nav-wrapper external-links">
      <nav class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="nav-item-wrapper pull-left">
          <a href="{% url 'resume_dl' %}">
            <div class="nav-item">Resume</div>
          </a>
        </div>
        <div class="nav-item-wrapper pull-left">
          <a href="https://www.linkedin.com/in/claytonketner">
            <div class="nav-item">LinkedIn</div>
          </a>
        </div>
        <div class="nav-item-wrapper pull-left">
          <a href="https://www.github.com/claytonketner">
            <div class="nav-item">GitHub</div>
          </a>
        </div>
      </nav>
    </div>
    {% comment %} Entries {% endcomment %}
    <div class="row nav-wrapper">
      <nav class="col-xs-12 col-md-8 col-md-offset-2">
        {% for entry in all_entries %}
          <div class="nav-item-wrapper pull-left
              {% if current_entry.slug == entry.slug %}
                current-page
              {% endif %}
              ">
            <a href="{% url 'entry' entry.slug %}">
              <div class="nav-item">
                {{ entry.title }}
              </div>
            </a>
          </div>
        {% endfor %}
      </nav>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
</body>
</html>
