{% extends 'portfolio/base.html' %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "portfolio/css/entry.css" %}"/>
  {{ current_entry.head | safe }}
{% endblock head %}

{% block content %}
  <div class="entry-header">
    <div class="entry-title">
      <h1>{{ current_entry.verbose_title }}</h1>
    </div>
    <div class="entry-date">
      {{ current_entry.verbose_date }}
    </div>
    <div class="entry-views">
      👁 &nbsp;{{ current_entry.views }}
    </div>
  </div>
  <div class="entry-body">
    {{ current_entry.body | safe }}
  </div>
  <div class="entry-footer">
  </div>
{% endblock content %}
