.banner-wrapper {
}

.banner {
    margin-bottom: 10px;
}

.website-title {
    font-size: 64px;
    line-height: 64px;
    font-style: italic;
    font-family: serif;
    font-weight: 200;
    color: black;
    margin-bottom: 15px;
}

.banner-wrapper a {
    text-decoration: none;
}

.website-subtitle {
    font-family: "Open Sans light", Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #B8B8B8;
    margin-top: -12px;
}

.img-links {
    text-align: right;
    height: 0;
    bottom: 38px;
}

.img-link {
    color: white;
    background-color: slategray;
    font-size: 18px;
    display: inline-block;
    margin-left: -3px;
}

.glyph-link {
   padding: 5px 10px;
   height: 38px;
}

.glyph-link .glyphicon {
    top: 4px;
}

.img-link img {
    height: 38px;
    padding: 10px;
}

.nav-wrapper {
    font-size: 12px;
    margin-bottom: 5px;
    background-color: slategray;
}

.nav-wrapper nav {
    margin-bottom: -1px;
}

.nav-item-wrapper {
    border: solid white;
    border-width: 0 1px 1px 1px;
    margin-right: -1px;
}

.nav-item-wrapper a {
    color: black;
    font-family: Helvetica, sans-serif;
}

.nav-item-wrapper.current-page a {
    pointer-events: none;
}

.nav-item-wrapper.current-page .nav-item {
    color: white;
    background-color: #709070;
    font-style: italic;
    border-width: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom-color: #8DB58D;
    border-style: solid;
}

.nav-item {
    display: inline-block;
    padding: 10px 15px;
    background-color: slategray;
    font-size: 10pt;
}
