.banner-wrapper {
}

.banner {
    margin-bottom: 10px;
}

.website-title {
    font-size: 52px;
    line-height: 62px;
    font-weight: 200;
    color: black;
    margin-bottom: 15px;
}

.banner-wrapper a {
    text-decoration: none;
}

.website-subtitle {
    font-family: "Open Sans light", Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #B8B8B8;
    margin-top: -12px;
}

.nav-wrapper {
    font-size: 12px;
    margin-bottom: 5px;
    background-color: slategray;  /* #708090 */
}

.nav-wrapper.external-links {
    background-color: #9aa6b1;
    margin-bottom: 2px;
}

.nav-wrapper nav {
    margin-bottom: -1px;
}

.nav-label .nav-item {
    padding-left: 0;
}

.nav-item-wrapper {
    border: solid white;
    border-width: 1px;
    margin: -1px -1px 0 0;
}

.nav-item-wrapper a {
    color: black;
    font-family: Helvetica, sans-serif;
}

.nav-item-wrapper.current-page a {
    pointer-events: none;
}

.nav-item-wrapper.current-page .nav-item {
    color: white;
    background-color: #709070;
    font-style: italic;
    border-width: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom-color: #8DB58D;
    border-style: solid;
}

.nav-item {
    display: inline-block;
    padding: 10px 15px;
    font-size: 10pt;
}
