/* Bootstrap goes from large to medium at 1200px, but 1250 keeps a better
margin around the border */
@media (min-width: 1250px) {
    .entry-wrapper {
        border-style: solid;
        /* Need to use 1px all around and white on the top and bottom or else the
        "corners" won't show up and the border won't start at the right place */
        border-width: 1px;
        border-color: white #ECECEC;
    }
}

.entry-header {
    margin-bottom: 20px;
}

.entry-header, .entry-body, .entry-footer {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.entry-title h1 {
    margin-bottom: 0;
}

.entry-date {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.entry-body {
    font-size: 16px !important; /* Need important to override bootstrap */
}

.entry-body img {
    display: block;
    margin: 10px auto;
    width: 100%;
    border-radius: 5px;
}

.entry-body .multi-img img {
    width: 100%;
}

.entry-body .img-caption {
    padding: 0 10px;
    margin: auto auto;
    margin-bottom: 25px;
    font-style: italic;
    border: solid #BFBFBF;
    border-width: 0 0 0 3px;
    width: 90%;
}

.entry-body .multi-img .img-caption {
    width: 95%;
}

.entry-body iframe {
    width: 100%;
    border-radius: 5px;
}

.entry-footer {
    margin: 15px auto;
}
