body .entry-body {
    font-size: 16px !important; /* Need important to override bootstrap */
}

.entry-title h1 {
    margin-bottom: 0;
}

.entry-date h4 {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
}

.entry-body img {
    display: block;
    margin: 10px auto;
    width: 90%;
    border-radius: 5px;
}

.entry-body .multi-img img {
    width: 100%;
}

.entry-body .img-caption {
    padding: 0 10px;
    margin: auto auto;
    margin-bottom: 25px;
    font-style: italic;
    border: solid #BFBFBF;
    border-width: 0 0 0 3px;
    width: 80%;
}

.entry-body .multi-img .img-caption {
    width: 95%;
}

.entry-body iframe {
    width: 100%;
    border-radius: 5px;
}
